.Abs-bottom-right{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1em;
}

.fixed-top-right{
	position: fixed;
	top: 15em;
	right: 10em;
}

.center-content{
	text-align: center;
}

.display-none{
	display: none;
}

.unselectable{
	-moz-user-select: none;
}

.divider{
	background-color: black !important;
}

.inline-block{
	display: inline-block;
}

.line-height{
	line-height: 30px !important; 
}

table.striped > tbody > tr:nth-child(2n+1){
	background-color: #ffecb3 !important;
}
table > tbody > tr > td{
	max-width: 2em;
}

.instagram{
	background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.material-tooltip{
	max-width: 20em;
}

.fixed-action-btn{
	-webkit-backface-visibility: hidden;
}

blockquote{
	margin: 20px 0;
  	padding-left: 1.5rem;
  	border-left: 5px solid #ffd54f;
}

.cursor-pointer{
	cursor: pointer;
}

.btn{
	border-radius: 8px;
}

/* Page Decorations */
.title-decoration{
	transform: scale(-0.3,0.3);
	position: absolute;
	top: -0.9em;
	right: -1.2em;
}
.title-decoration-mobile{
	transform: scale(-0.3,0.3);
	position: absolute;
	top: -1em;
	right: -0.15em;
}

.page-decoration-list{
	margin: 0.2em 0px 4em 0px;
	padding: 0;
	white-space: nowrap;
}
.page-decoration-list>li{
	display: inline-block;
	margin: -0.25em;
}
.page-decoration-list>li:nth-child(2n){
	display: inline-block;
	margin: -0.25em;
	transform: scale(-1,1);
}

.page-decoration{
	width: 40em;
	height: 5em;
}

/* ----- Fonts ----- */

/*Motion*/
@font-face{
	font-family: 'Motion';
	src: url('../fonts/Motion.ttf');
}
.font-motion{
	font-family: Motion;
	font-size: 8em;
}

/*Eroded*/
@font-face{
	font-family: 'Eroded';
	src: url('../fonts/Eroded.ttf');
}
.font-eroded{
	font-family: Eroded;
	font-size: 8em;
	letter-spacing: 4px;
}

.font-eroded-4em{
	font-family: Eroded;
	font-size: 4.5em;
	letter-spacing: 4px;
}

/*Watcher*/
@font-face{
	font-family: 'Watcher';
	src: url('../fonts/Watcher.ttf');
}
.font-watcher{
	font-family: Watcher;
	font-size: 8em;
	letter-spacing: 2px;
}

.font-watcher-4em{
	font-family: Watcher;
	font-size: 4em;
	letter-spacing: 2px;
}